@model IEnumerable<DigiSalud.Models.Entities.encuesta>

@{
    ViewBag.Title = "Encuestas";
}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js">
</script>
<h2>@ViewBag.Title</h2>

<p>

    <input type="button"
           id="encuestas"
           onClick=" location.href = '@Url.Action("Encuesta", "Encuesta")'; "
           VALUE="Realizar encuesta"
           class="btn btn-secondary" />
</p>
<table class="table">
    <tr>
        <th>
            Consecutivo
        </th>
        <th>
            Diligenció el formato de consentimiento en papel
        </th>
        <th>
            Estuvo de acuerdo con el estudio
        </th>
        <th>
            Edad
        </th>
        <th>
            Sexo
        </th>
        <th>
            Ciudad de Origen
        </th>
        <th>
            Ciudad Actual
        </th>
        <th>
            Ha sufrido retraso académico
        </th>
        <th>
            Semestres Atrasados
        </th>
        <th>
            Dificultades académicas
        </th>
        <th>
            Problemas económicos
        </th>
        <th>
            Problemas de salud
        </th>
        <th>
            Problemas de salud mental
        </th>
        <th>
            Problemas familiares
        </th>
        <th>
            Calamidad doméstica
        </th>
        <th>
            Porcentaje de tiempo dedicado al estudio
        </th>
        <th>
            Porcentaje de tiempo dedicado al deporte
        </th>
        <th>
            Porcentaje de tiempo dedicado a actividades culturales
        </th>
        <th>
            Porcentaje de tiempo dedicado a entrenamiento
        </th>
        <th>
            Porcentaje de tiempo dedicado al trabajo
        </th>
        <th>
            Porcentaje de tiempo dedicado a actividades religiosas
        </th>
        <th>
            Porcentaje de tiempo dedicado a otras actividades
        </th>
        <th>
            Sufre condiciones médicas 
        </th>
        <th>
            Detalle de condición médica
        </th>
        <th>
            Madre con enfermedades mentales
        </th>
        <th>
            Padre con enfermedades mentales
        </th>
        <th>
            Hermano con enfermedades mentales
        </th>
        <th>
            Pareja con enfermedades mentales
        </th>
        <th>
            Abuelo  con enfermedades mentales
        </th>
        <th>
            Primo con enfermedades mentales
        </th>
        <th>
            Sobrino con enfermedades mentales
        </th>
        <th>
            Hijo con enfermedades mentales
        </th>
        <th>
            Tio con enfermedades mentales
        </th>
        <th>
            Madre con depresión
        </th>
        <th>
            Padre con depresión
        </th>
        <th>
            Hermano con depresión
        </th>
        <th>
            Pareja con depresión
        </th>
        <th>
            Abuelo con depresión
        </th>
        <th>
            Primo con depresión
        </th>
        <th>
            Sobrino con depresión
        </th>
        <th>
            Hijo con depresión
        </th>
        <th>
            Tio con depresión
        </th>
        <th>
            Madre con ansiedad
        </th>
        <th>
            Padre con ansiedad
        </th>
        <th>
            Hermano con ansiedad
        </th>
        <th>
            Pareja con ansiedad
        </th>
        <th>
            Abuelo con ansiedad
        </th>
        <th>
            Primo con ansiedad
        </th>
        <th>
            Sobrino con ansiedad
        </th>
        <th>
            Hijo con ansiedad
        </th>
        <th>
            Tio con ansiedad
        </th>
        <th>
            Madre con esquizofrenia
        </th>
        <th>
            Madre con esquizofrenia
        </th>
        <th>
            Hermano con esquizofrenia
        </th>
        <th>
            Pareja con esquizofrenia
        </th>
        <th>
            Abuelo con esquizofrenia
        </th>
        <th>
            Primo con esquizofrenia
        </th>
        <th>
            Sobrino con esquizofrenia
        </th>
        <th>
            Hijo con esquizofrenia
        </th>
        <th>
            Tio con esquizofrenia
        </th>
        <th>
            Madre consume licor o drogras
        </th>
        <th>
            Padre consume licor o drogras
        </th>
        <th>
            Hermano consume licor o drogras
        </th>
        <th>
            Pareja consume licor o drogras
        </th>
        <th>
            Abuelo consume licor o drogras
        </th>
        <th>
            Primo consume licor o drogras
        </th>
        <th>
            Sobrino consume licor o drogras
        </th>
        <th>
            Hijo consume licor o drogras
        </th>
        <th>
            Tio consume licor o drogras
        </th>
        <th>
            Madre posee otra enfermedad mental
        </th>
        <th>
            padre posee otra enfermedad mental
        </th>
        <th>
            Hermano posee otra enfermedad mental
        </th>
        <th>
            Pareja posee otra enfermedad mental
        </th>
        <th>
            Abuelo posee otra enfermedad mental
        </th>
        <th>
            Primo posee otra enfermedad mental
        </th>
        <th>
            Sobrino posee otra enfermedad mental
        </th>
        <th>
            Hijo posee otra enfermedad mental
        </th>
        <th>
            Tio posee otra enfermedad mental
        </th>
        <th>
            Tiempo en diagnóstico de madre
        </th>
        <th>
            Tiempo en diagnóstico de padre
        </th>
        <th>
            Tiempo en diagnóstico de hermano
        </th>
        <th>
            Tiempo en diagnóstico de pareja
        </th>
        <th>
            Tiempo en diagnóstico de abuelo
        </th>
        <th>
            Tiempo en diagnóstico de primo
        </th>
        <th>
            Tiempo en diagnóstico de sobrino
        </th>
        <th>
            Tiempo en diagnóstico de hijo
        </th>
        <th>
            Tiempo en diagnóstico de tio
        </th>
        <th>
            Madre en tratamiento
        </th>
        <th>
            Padre  en tratamiento
        </th>
        <th>
            Hermano en tratamiento
        </th>
        <th>
            Pareja en tratamiento
        </th>
        <th>
            Abuelo en tratamiento
        </th>
        <th>
            Primo en tratamiento
        </th>
        <th>
            Sobrino en tratamiento
        </th>
        <th>
            Hijo en tratamiento
        </th>
        <th>
            Tio en tratamiento
        </th>
        <th>
            Frecuencia en consumo de alcohol
        </th>
        <th>
            Frecuencia en consumo de nicotina
        </th>
        <th>
            Frecuencia en consumo de cannabis
        </th>
        <th>
            Frecuencia en consumo de cocaina
        </th>
        <th>
            Frecuencia en consumo de sedaantes
        </th>
        <th>
            Frecuencia en consumo de opiaceos
        </th>
        <th>
            Frecuentcia en consumo de otros estupefacientes
        </th>
        <th>
            Usa internet
        </th>
        <th>
            Usa Smart phone
        </th>
        <th>
            Usa Tablet
        </th>
        <th>
           Usa computador familiar
        </th>
        <th>
            Usa computador propio
        </th>
        <th>
            Usa computador portatil Familiar
        </th>
        <th>
            Usa computador portatil propio
        </th>
        <th>
            Usa Tv para acceder a internet
        </th>
        <th>
            Usa consola de videojuegos para acceder a internet
        </th>
        <th>
            Accede a internet en su sala
        </th>
        <th>
            Accede a internet en su habitación
        </th>
        <th>
            Accede a internet en su universidad
        </th>
        <th>
            Accede a internet en su trabajo
        </th>
        <th>
            Accede a internet en la casa de un amigo
        </th>
        <th>
            Accede a internet en la casa de un familiar
        </th>
        <th>
            Accede a internet en otros lugares públicos
        </th>
        <th>
            Accede a internet mediante otra vía.
        </th>
        <th>
            Accede a internet en casa
        </th>
        <th>
            Accede a internet por redes moviles
        </th>
        <th>
            Accede a internet por redes de trabajo
        </th>
        <th>
            Accede a internet por internet de universidad
        </th>
        <th>
            Accede a internet por redes públicas
        </th>
        <th>
            Fecha de diligenciamiento de la encuesta
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FormatoEnPapel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PartiCipa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Edad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sexo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CiudadOrigen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CiudadActual)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Retraso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SemestresAtrasados)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dificultades)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProblemasEcon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProblemasSalud)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProblemasSaludMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProblemasFamil)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CalamidadDomes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estudio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Deporte)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Culturales)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Entretenimiento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Trabajo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Religiosas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Otras)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CondicionMedica)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CondicionMedicaDet)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MadreEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PadreEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HermanoEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParejaEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AbueloEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimoEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SobrinoEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HijoEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TioEnfMen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MadreDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PadreDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HermanoDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParejaDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AbueloDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimoDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SobrinoDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HijoEnfDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TioEnfDep)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MadreAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PadreAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HermanoAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParejaAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AbueloAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimoAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SobrinoAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HijoEnfAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TioEnfAns)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MadreEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PadreEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HermanoEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParejaEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AbueloEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimoEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SobrinoEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HijoEnfEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TioEnfEsq)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MadreLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PadreLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HermanoLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParejaLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AbueloLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimoLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SobrinoLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HijoEnfLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TioEnfLicDrog)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MadreOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PadreOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HermanoOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParejaOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AbueloOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimoOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SobrinoOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HijoEnfOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TioEnfOtra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MadreTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PadreTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HermanoTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParejaTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AbueloTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimoTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SobrinoTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HijoEnfTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TioEnfTiempoD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MadreTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PadreTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HermanoTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ParejaTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AbueloTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrimoTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SobrinoTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HijoTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TioEnfTrat)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Alcohol)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nicotina)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cannabis)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cocaina)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sedantes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Opiaceos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Otros)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoUsa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SmarthPhone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tablet)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ComputadorFamiliar)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ComputadorPropio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PortatilFamiliar)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PortatilPropio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Consola)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SalaHogar)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Habitacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Universidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TrabajoI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CasaAmigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CasaFamiliar)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OtrosPublicos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OtraVia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InternetCasa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InternetMobil)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InternetTrabajo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InternetUniversidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InternetPublico)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fechaDiligen)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
    </td>
</tr>
    }

</table>
<input type="button"
       id="grafica"
       onClick=" location.href = '@Url.Action("Grafica", "Grafica")'; "
       VALUE="Ver gráfica"
       class="btn btn-primary" />
