@model DigiSalud.Models.Encuesta
@{

    ViewBag.Title = "Ingresar";
    ViewBag.Encabezado = " Evaluación de un programa de tecnologías de la información" +
        " y comunicación en salud mental pra los estudiantes de la facultad de medicina";
    ViewBag.Pregunta1 = "¿Diligenció el formato de consentimiento en papel?";
    ViewBag.Pregunta2 = "¿Está de acuerdo con el siguiente estudio?";
    ViewBag.Pregunta3 = "Durante su carrera, ¿ha sufrido retraso académico?";
    ViewBag.Pregunta4 = "En caso afirmativo ¿cuantos semestres se ha atrasado?";
    var tiempoDetratamiento = new List<SelectListItem>();
    tiempoDetratamiento.Add(new SelectListItem()
    {
        Text = "Nignuno",
        Value = "1"
    });
    tiempoDetratamiento.Add(new SelectListItem()
    {
        Text = "0 a 2",
        Value = "2"
    });
    tiempoDetratamiento.Add(new SelectListItem()
    {
        Text = "2 a 5",
        Value = "3"
    });
    tiempoDetratamiento.Add(new SelectListItem()
    {
        Text = "Más de 5",
        Value = "4"
    });
    ViewBag.TiempoDetratamiento = tiempoDetratamiento;
    ViewBag.Parrafo = "A continuación, encontrárá preguntas acerca del uso de internet y el tiempo que se gasta en línea, " +
                "esto nos permitirá determinar las preferencias y portunidades que tienen las" +
                " personas en este ámbito. Por favor asegúrese de leer cuidadosamente las preguntas," +
                " en algunas de ellas se podrá seleccionar varias opciones y otras le solicitarás que se" +
                " detenga y termine el cuestionario. Si tiene cualquier duda solicite toda la colaboración que necesite.";
}

<br />
<form action="/Encuesta/Encuesta" autocomplete="on" method="post" id="encuesta" name="encuesta">
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-white">
                @ViewBag.Encabezado
            </div>
            <div class="card-body">
                <div id="mensaje"></div>
                <input type="button"
                       id="rellenar"
                       onClick="history.go(0)"
                       VALUE="Realizar encuesta de nuevo"
                       class="btn btn-secondary"
                       style="visibility:hidden">
                <h3 style="text-align:center">Consentimiento informado</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">

                            <label for="pregunta1">@ViewBag.Pregunta1</label>
                            <br />
                            @Html.RadioButtonFor(m => m.FormatoEnPapel, "Si",
                               new
                               {
                                   @id= "Si1"
                               })
                            <label for="si1" style="margin-left:2em">Si</label>
                            <br />
                            @Html.RadioButtonFor(m => m.FormatoEnPapel, "No"
                           ,
                               new
                               {
                                   @id= "No1"
                               })<label for="No1" style="margin-left:2em">No</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="primerNombre">@ViewBag.Pregunta2</label>
                            <br />
                            @Html.RadioButtonFor(m => m.PartiCipa, "Si",
                            new
                               {
                                   @id= "Si2",
                                   @checked= true
                               })<label for="si2" style="margin-left:2em">Si</label>

                            <br />
                            @Html.RadioButtonFor(m => m.PartiCipa, "No",
                            new
                               {
                                   @id= "No2"
                               })<label for="No2" style="margin-left:2em">No</label>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align:center">Datos sociodemográficos</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="edad">¿Cuantos años tiene?</label>
                        @Html.TextBoxFor(c => c.Edad,
                        new
                          {
                              @class = "form-control",
                              @placeholder = "Edad",
                              @min = "12",
                              @max = "100",
                              @maxlength = "3",
                              @required = "required",
                              @type = "number"
                          })
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="numeroDocumento">¿Cual es su sexo?</label>
                            <br />
                            @Html.RadioButtonFor(m => m.Sexo, "Hombre", new { @id="chkHombre"}) <label for="hombre" style="margin-left:2em">Hombre</label>
                            <br />
                            @Html.RadioButtonFor(m => m.Sexo, "Mujer", new { @id="chkMujer", @checked = true }) <label for="mujer" style="margin-left:2em">Mujer</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="ciudadDeorigen">¿Cual es su ciudad de origen?</label>
                            @Html.TextBoxFor(c => c.CiudadOrigen,
                                 new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Ciudad de origen",
                                       @maxlength = "100",
                                       @required = "required"
                                   })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ciudadActual">¿En cual ciudad vive actualmente?</label>
                            @Html.TextBoxFor(c => c.CiudadActual,
                                 new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Ciudad de residencia",
                                       @maxlength = "100",
                                       @required = "required"
                                   })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="EstaAtrasado">Durante su carrera ¿ha sufrido retraso académico?</label>
                            <br />
                            @Html.RadioButtonFor(m => m.Retraso, "Si", new { @id = "retraso1", @checked = true }) <label for="retrasolSi" style="margin-left:2em">Si</label>
                            <br />
                            @Html.RadioButtonFor(m => m.Retraso, "No", new { @id = "retraso2" }) <label for="retrasolN o" style="margin-left:2em">No</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="semestresAtrasados">@ViewBag.Pregunta4</label>
                            @Html.TextBoxFor(c => c.SemestresAtrasados,
                             new
                               {
                                   @class = "form-control",
                                   @placeholder = "Semestres atrasados",
                                   @maxlength = "100",
                                   @type = "number"
                               })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-left: auto; margin-right: auto; text-align: center;">
                            <label>
                                Según su experiencia, ¿qué motivos pudieron
                                relacionarse con los atrasos?
                            </label>
                            <br />

                            @Html.CheckBoxFor(m => m.Dificultades, new { @id = "rbnDif" }) Dificultades académicas
                            <br />
                            @Html.CheckBoxFor(m => m.ProblemasEcon, new { @id = "rbnProbE" }) Problemas económicos
                            <br />
                            @Html.CheckBoxFor(m => m.ProblemasSalud, new { @id = "rbnProbS" }) Problemas de salud
                            <br />
                            @Html.CheckBoxFor(m => m.ProblemasSaludMen, new { @id = "rbnProbSM" }) Problemas de salud mental
                            <br />
                            @Html.CheckBoxFor(m => m.ProblemasFamil, new { @id = "rbnProbF" }) Problemas familiares
                            <br />
                            @Html.CheckBoxFor(m => m.CalamidadDomes, new { @id = "rbnCald" }) Calamidad doméstica
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="margin-left: auto; margin-right: auto; text-align: center;">
                            <label>
                                ¿Qué porción de tiempo a la semana considera que invierte en las siguientes actividades? (debe sumar 100%)
                            </label>
                            <br />
                            <table>
                                <tr>
                                    <th></th>
                                    <th>0%</th>
                                    <th>10%</th>
                                    <th>30%</th>
                                    <th>40%</th>
                                    <th>50%</th>
                                    <th>60%</th>
                                    <th>70%</th>
                                    <th>80%</th>
                                    <th>90%</th>
                                </tr>
                                <tr>
                                    <td>Estudio</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 0, new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 10)</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 30)</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 40)</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 50)</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 60)</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 70)</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 80)</td>
                                    <td> @Html.RadioButtonFor(m => m.Estudio, 90)</td>
                                </tr>
                                <tr>
                                    <td>Deporte</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 0, new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 10)</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 30)</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 40)</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 50)</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 60)</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 70)</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 80)</td>
                                    <td> @Html.RadioButtonFor(m => m.Deporte, 90)</td>
                                </tr>
                                <tr>
                                    <td>Actividades culturales</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 0, new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 10)</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 30)</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 40)</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 50)</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 60)</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 70)</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 80)</td>
                                    <td> @Html.RadioButtonFor(m => m.Culturales, 90)</td>
                                </tr>
                                <tr>
                                    <td>Entretenimiento</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 0, new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 10)</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 30)</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 40)</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 50)</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 60)</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 70)</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 80)</td>
                                    <td> @Html.RadioButtonFor(m => m.Entretenimiento, 90)</td>
                                </tr>
                                <tr>
                                    <td>Trabajo</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 0, new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 10)</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 30)</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 40)</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 50)</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 60)</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 70)</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 80)</td>
                                    <td> @Html.RadioButtonFor(m => m.Trabajo, 90)</td>
                                </tr>
                                <tr>
                                    <td>Actividades religiosas</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 0, new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 10)</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 30)</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 40)</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 50)</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 60)</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 70)</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 80)</td>
                                    <td> @Html.RadioButtonFor(m => m.Religiosas, 90)</td>
                                </tr>
                                <tr>
                                    <td>Otras</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 0, new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 10)</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 30)</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 40)</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 50)</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 60)</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 70)</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 80)</td>
                                    <td> @Html.RadioButtonFor(m => m.Otras, 90)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="EstaAtrasado">¿Ha sufrido alguna condición médica (enfermedad, traumatismo, etc.)?</label>
                            <br />
                            @Html.RadioButtonFor(m => m.CondicionMedica, "Si", new { @checked = true }) <label for="si4" style="margin-left:2em">Si</label>
                            <br />
                            @Html.RadioButtonFor(m => m.CondicionMedica, "No") <label for="no4" style="margin-left:2em">No</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="semestresAtrasados">Si respondió "Si" por favor especifique los diagnósticos, los años y si se encuentra en tratamiento. </label>
                            @Html.TextAreaFor(c => c.CondicionMedicaDet,
                                new
                                    {
                                        @class = "form-control",
                                        @placeholder = "Detalle condición médica",
                                    })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="expe">Por favor especifique si sus familiares tienen alguno de los siguientes diagnósticos, tiempo y si se encuentra en tratamiento    </label>
                            <table>
                                <tr>
                                    <th></th>
                                    <th style="font-size:small">¿Padece enfermedad mental?</th>
                                    <th style="font-size:small">Depresión  -</th>
                                    <th style="font-size:small">Ansiedad   -</th>
                                    <th style="font-size:small">Esquizofrenia o psicosis</th>
                                    <th style="font-size:small">Consumo de licor o drogas</th>
                                    <th style="font-size:small">Otra enfermedad mental</th>
                                    <th style="font-size:small">Tiempo en diagnóstico (años)</th>
                                    <th style="font-size:small">¿Está en tratamiento?</th>
                                </tr>
                                <tr>
                                    <td>Madre</td>
                                    <td> @Html.CheckBoxFor(m => m.MadreEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.MadreDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.MadreAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.MadreEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.MadreLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.MadreOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.MadreTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.MadreTrat)</td>
                                </tr>
                                <tr>
                                    <td>Padre</td>
                                    <td> @Html.CheckBoxFor(m => m.PadreEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.PadreDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.PadreAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.PadreEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.PadreLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.PadreOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.PadreTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.PadreTrat)</td>

                                </tr>
                                <tr>
                                    <td>Hermano(a)</td>
                                    <td> @Html.CheckBoxFor(m => m.HermanoEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.HermanoDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.HermanoAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.HermanoEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.HermanoLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.HermanoOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.HermanoTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.HermanoTrat)</td>
                                </tr>
                                <tr>
                                    <td>Pareja o <br />Esposo(a)</td>
                                    <td> @Html.CheckBoxFor(m => m.ParejaEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.ParejaDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.ParejaAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.ParejaEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.ParejaLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.ParejaOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.ParejaTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.ParejaTrat)</td>
                                </tr>
                                <tr>
                                    <td>Abuelo(a)</td>
                                    <td> @Html.CheckBoxFor(m => m.AbueloEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.AbueloDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.AbueloAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.AbueloEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.AbueloLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.AbueloOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.AbueloTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.AbueloTrat)</td>
                                </tr>
                                <tr>
                                    <td>Primo(a)</td>
                                    <td> @Html.CheckBoxFor(m => m.PrimoEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.PrimoDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.PrimoAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.PrimoEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.PrimoLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.PrimoOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.PrimoTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.PrimoTrat)</td>
                                </tr>
                                <tr>
                                    <td>Sobrino(a)</td>
                                    <td> @Html.CheckBoxFor(m => m.SobrinoEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.SobrinoDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.SobrinoAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.SobrinoEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.SobrinoLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.SobrinoOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.SobrinoTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.SobrinoTrat)</td>
                                </tr>
                                <tr>
                                    <td>Hijo(a)</td>
                                    <td> @Html.CheckBoxFor(m => m.HijoEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.HijoEnfDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.HijoEnfAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.HijoEnfEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.HijoEnfLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.HijoEnfOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.HijoEnfTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.HijoTrat)</td>
                                </tr>
                                <tr>
                                    <td>Tio(a)</td>
                                    <td> @Html.CheckBoxFor(m => m.TioEnfMen)</td>
                                    <td> @Html.CheckBoxFor(m => m.TioEnfDep)</td>
                                    <td> @Html.CheckBoxFor(m => m.TioEnfAns)</td>
                                    <td> @Html.CheckBoxFor(m => m.TioEnfEsq)</td>
                                    <td> @Html.CheckBoxFor(m => m.TioEnfLicDrog)</td>
                                    <td> @Html.CheckBoxFor(m => m.TioEnfOtra)</td>
                                    <td> @Html.DropDownListFor(m => m.TioEnfTiempoD, new SelectList(ViewBag.TiempoDetratamiento, "Value", "Text"))</td>
                                    <td> @Html.CheckBoxFor(m => m.TioEnfTrat)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="expe">¿Con qué frecuencia ha experimentado con alguna de las siguientes sustancias?</label>
                            <table>
                                <tr>
                                    <th></th>
                                    <th style="width:80px">Nunca</th>
                                    <th style="width:100px">Hace más de un mes</th>
                                    <th style="width:100px">Una vez el <br />último mes</th>
                                    <th style="width:100px">Una vez <br />por semana</th>
                                    <th style="width:150px">Dos o tres veces <br />por semana</th>
                                    <th style="width:100px">Cuatro o cinco <br />veces por semana</th>
                                    <th style="width:200px">Más de cinco <br />veces por semana</th>
                                </tr>
                                <tr>
                                    <td style="width:100px">Alcohol</td>
                                    <td> @Html.RadioButtonFor(m => m.Alcohol, "Nunca", new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Alcohol, "Hace más de un mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Alcohol, "Una vez el último mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Alcohol, "Una vez por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Alcohol, "Dos o tres veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Alcohol, "Cuatro o cinco veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Alcohol, "Más de cinco veces por semana")</td>
                                </tr>
                                <tr>
                                    <td>Nicotina</td>
                                    <td> @Html.RadioButtonFor(m => m.Nicotina, "Nunca", new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Nicotina, "Hace más de un mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Nicotina, "Una vez el último mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Nicotina, "Una vez por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Nicotina, "Dos o tres veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Nicotina, "Cuatro o cinco veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Nicotina, "Más de cinco veces por semana")</td>
                                </tr>
                                <tr>
                                    <td>Cannabis</td>
                                    <td> @Html.RadioButtonFor(m => m.Cannabis, "Nunca", new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Cannabis, "Hace más de un mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cannabis, "Una vez el último mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cannabis, "Una vez por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cannabis, "Dos o tres veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cannabis, "Cuatro o cinco veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cannabis, "Más de cinco veces por semana")</td>
                                </tr>
                                <tr>
                                    <td>Cocaina</td>
                                    <td> @Html.RadioButtonFor(m => m.Cocaina, "Nunca", new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Cocaina, "Hace más de un mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cocaina, "Una vez el último mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cocaina, "Una vez por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cocaina, "Dos o tres veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cocaina, "Cuatro o cinco veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Cocaina, "Más de cinco veces por semana")</td>
                                </tr>
                                <tr>
                                    <td>Sedantes</td>
                                    <td> @Html.RadioButtonFor(m => m.Sedantes, "Nunca", new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Sedantes, "Hace más de un mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Sedantes, "Una vez el último mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Sedantes, "Una vez por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Sedantes, "Dos o tres veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Sedantes, "Cuatro o cinco veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Sedantes, "Más de cinco veces por semana")</td>
                                </tr>
                                <tr>
                                    <td>Opiaceos</td>
                                    <td> @Html.RadioButtonFor(m => m.Opiaceos, "Nunca", new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Opiaceos, "Hace más de un mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Opiaceos, "Una vez el último mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Opiaceos, "Una vez por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Opiaceos, "Dos o tres veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Opiaceos, "Cuatro o cinco veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Opiaceos, "Más de cinco veces por semana")</td>
                                </tr>
                                <tr>
                                    <td>Otros</td>
                                    <td> @Html.RadioButtonFor(m => m.Otros, "Nunca", new { @checked = true })</td>
                                    <td> @Html.RadioButtonFor(m => m.Otros, "Hace más de un mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Otros, "Una vez el último mes")</td>
                                    <td> @Html.RadioButtonFor(m => m.Otros, "Una vez por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Otros, "Dos o tres veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Otros, "Cuatro o cinco veces por semana")</td>
                                    <td> @Html.RadioButtonFor(m => m.Otros, "Más de cinco veces por semana")</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align:center">Cuestionario para caracterización del uso de internet</h3>
                        <p>@ViewBag.Parrafo</p>
                        <br />
                        <label>¿Usted usa internet? (En caso negativo, entregue o pase al siguiente cuestionario)</label>
                        <br />
                        @Html.RadioButtonFor(m => m.LoUsa, "Si", new { @checked = true })<label for="si5" style="margin-left:2em">Si</label>
                        <br />
                        @Html.RadioButtonFor(m => m.LoUsa, "No")<label for="No5" style="margin-left:2em">No</label>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>¿Cuál de los siguientes dispositivos usa Principalmente para acceder a internet? (puede seleccionar varios)</label>
                            <br />
                            @Html.CheckBoxFor(m => m.SmarthPhone) Teléfono inteligente
                            <br />
                            @Html.CheckBoxFor(m => m.Tablet) Tableta
                            <br />
                            @Html.CheckBoxFor(m => m.ComputadorFamiliar) Computador de escritorio (compartido con la familia)
                            <br />
                            @Html.CheckBoxFor(m => m.ComputadorPropio) Computador de escritorio propio
                            <br />
                            @Html.CheckBoxFor(m => m.PortatilFamiliar) Portatil compartido con la familia y que no puede llevar a su habitación
                            <br />
                            @Html.CheckBoxFor(m => m.PortatilPropio) Portatil propio o que puede llevar a su habitación
                            <br />
                            @Html.CheckBoxFor(m => m.TV) Internet por Televisor (SmartTv)
                            <br />
                            @Html.CheckBoxFor(m => m.Consola) Consola de videojuegos (Por ejemplo, PS4)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>¿Cómo accede comúnmente a internet? (puede seleccionar varios)</label>
                            <br />
                            <br />
                            @Html.CheckBoxFor(m => m.InternetCasa) Servicio de internet en la casa
                            <br />
                            @Html.CheckBoxFor(m => m.InternetMobil) Internet Móvil (Datos del teléfono móvil o dispositivo de internet 3G/4G)
                            <br />
                            @Html.CheckBoxFor(m => m.InternetTrabajo) Red o Wifi del trabajo
                            <br />
                            @Html.CheckBoxFor(m => m.InternetUniversidad) Red o Wifi de la universidad
                            <br />
                            @Html.CheckBoxFor(m => m.InternetPublico) Punto Wifi Gratuito
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Guardar" id="submit"
                               class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        mensaje = {};
        $('#Edad').keyup(function () {
            this.value = this.value.replace(/[^0-9]/g, '');
            this.value = this.value.substring(0, 2);
        });
        $('#CiudadOrigen').keyup(function () {
            this.value = this.value.replace(/[^A-Za-z]/g, '');
        });
        $('#CiudadActual').keyup(function () {
            this.value = this.value.replace(/[^A-Za-z]/g, '');
        });
        mensaje.warn = function (texto) {
            $('#mensaje').
                html('<div class="alert alert-danger">' +
                    '<a class="close" data-dismiss="alert">x</a><span>'
                    + texto + '</span></div>');
        };
        mensaje.inform = function (texto) {
            $('#mensaje').
                html('<div class="alert alert-primary">' +
                    '<a class="close" data-dismiss="alert">x</a><span>'
                    + texto + '</span></div>');
        };
        mensaje.remove = function () {
            $('#mensaje').html('');
        };

        $('#encuesta').submit(function (event) {
            mensaje.remove();
            var condicionMedica = $('#CondicionMedica:checked').val();
            var detalleCondicion = $('#CondicionMedicaDet').val();
            if (condicionMedica === "Si" && detalleCondicion === '') {
                $('#Edad').focus();
                mensaje.warn('Debes indicar detalle de tu condición médica');
                return false;
            }
            var sumActividades = parseInt($('#Estudio:checked').val()) + parseInt($('#Deporte:checked').val())
                + parseInt($('#Culturales:checked').val()) + parseInt($('#Entretenimiento:checked').val())
                + parseInt($('#Trabajo:checked').val()) + parseInt($('#Religiosas:checked').val()) + parseInt($('#Otras').val());
            if (sumActividades != 100) {
                $('#Edad').focus();
                mensaje.warn('La suma de los porcentajes de actividades debe ser igual a 100. suman: ' + sumActividades);
                return false;
            }

            var deAcuerdo = $('#Si2:checked').val();
            console.log(deAcuerdo);
            if (deAcuerdo !== "Si") {
                $('#Edad').focus();
                mensaje.warn('Debes estar de acuerdo para diligenciar nuestra encuesta');
                return false;
            }
            var atrasado = $('#Retraso:checked').val();
            var semestresAtrasados = $('#SemestresAtrasados').val();
            if (atrasado === 'Si' && semestresAtrasados === '') {
                $('#Edad').focus();
                mensaje.warn('Debes indicar cuántos semestres te has atrasado');
                return false;
            }


            event.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                type: "POST",
                //dataType: "json",
                url: "/Encuesta/Encuesta",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#Edad').focus();
                    mensaje.inform("Gracias por diligenciar nuestra encuesta, ¿desea volver a realizarla?.");
                    $("#rellenar").css("visibility", "visible");
                    //Deshabilitar todos los campos
                    $("#Edad").prop("disabled", true);
                    $("#Si1").prop("disabled", true);
                    $("#No1").prop("disabled", true);
                    $("#Si2").prop("disabled", true);
                    $("#No2").prop("disabled", true);
                    $("#PartiCipa").prop("disabled", true);
                    $("#chkHombre").prop("disabled", true);
                    $("#chkMujer").prop("disabled", true);
                    $("#Sexo").prop("disabled", true);
                    $("#CiudadOrigen").prop("disabled", true);
                    $("#CiudadActual").prop("disabled", true); 
                    $("#retraso1").prop("disabled", true);
                    $("#retraso2").prop("disabled", true);
                    $("#SemestresAtrasados").prop("disabled", true);
                    $("#rbnDif").prop("disabled", true);
                    $("#rbnProbE").prop("disabled", true);
                    $("#rbnProbS").prop("disabled", true);
                    $("#rbnProbSM").prop("disabled", true);
                    $("#rbnProbF").prop("disabled", true);
                    $("#rbnCald").prop("disabled", true);
                    $("#CondicionMedicaDet").prop("disabled", true);
                    $("#submit").prop("disabled", true);
                    $("#MadreEnfMen").prop("disabled", true);
                    $("#MadreDep").prop("disabled", true);
                    $("#MadreAns").prop("disabled", true);
                    $("#MadreEsq").prop("disabled", true);
                    $("#MadreLicDrog").prop("disabled", true);
                    $("#MadreOtra").prop("disabled", true);
                    $("#MadreTiempoD").prop("disabled", true);
                    $("#MadreTrat").prop("disabled", true);
                    $("#PadreEnfMen").prop("disabled", true);
                    $("#PadreDep").prop("disabled", true);
                    $("#PadreAns").prop("disabled", true);
                    $("#PadreEsq").prop("disabled", true);
                    $("#PadreLicDrog").prop("disabled", true);
                    $("#PadreOtra").prop("disabled", true);
                    $("#PadreTiempoD").prop("disabled", true);
                    $("#PadreTrat").prop("disabled", true);
                    $("#HermanoEnfMen").prop("disabled", true);
                    $("#HermanoDep").prop("disabled", true);
                    $("#HermanoAns").prop("disabled", true);
                    $("#HermanoEsq").prop("disabled", true);
                    $("#HermanoLicDrog").prop("disabled", true);
                    $("#HermanoOtra").prop("disabled", true);
                    $("#HermanoTiempoD").prop("disabled", true);
                    $("#HermanoTrat").prop("disabled", true);
                    $("#ParejaEnfMen").prop("disabled", true);
                    $("#ParejaDep").prop("disabled", true);
                    $("#ParejaAns").prop("disabled", true);
                    $("#ParejaEsq").prop("disabled", true);
                    $("#ParejaLicDrog").prop("disabled", true);
                    $("#ParejaOtra").prop("disabled", true);
                    $("#ParejaTiempoD").prop("disabled", true);
                    $("#ParejaTrat").prop("disabled", true);
                    $("#AbueloEnfMen").prop("disabled", true);
                    $("#AbueloDep").prop("disabled", true);
                    $("#AbueloAns").prop("disabled", true);
                    $("#AbueloEsq").prop("disabled", true);
                    $("#AbueloLicDrog").prop("disabled", true);
                    $("#AbueloOtra").prop("disabled", true);
                    $("#AbueloTiempoD").prop("disabled", true);
                    $("#AbueloTrat").prop("disabled", true);
                    $("#PrimoEnfMen").prop("disabled", true);
                    $("#PrimoDep").prop("disabled", true);
                    $("#PrimoAns").prop("disabled", true);
                    $("#PrimoEsq").prop("disabled", true);
                    $("#PrimoLicDrog").prop("disabled", true);
                    $("#PrimoOtra").prop("disabled", true);
                    $("#PrimoTiempoD").prop("disabled", true);
                    $("#PrimoTrat").prop("disabled", true);
                    $("#SobrinoEnfMen").prop("disabled", true);
                    $("#SobrinoDep").prop("disabled", true);
                    $("#SobrinoAns").prop("disabled", true);
                    $("#SobrinoEsq").prop("disabled", true);
                    $("#SobrinoLicDrog").prop("disabled", true);
                    $("#SobrinoOtra").prop("disabled", true);
                    $("#SobrinoTiempoD").prop("disabled", true);
                    $("#SobrinoTrat").prop("disabled", true);
                    $("#HijoEnfMen").prop("disabled", true);
                    $("#HijoEnfDep").prop("disabled", true);
                    $("#HijoEnfAns").prop("disabled", true);
                    $("#HijoEnfEsq").prop("disabled", true);
                    $("#HijoEnfLicDrog").prop("disabled", true);
                    $("#HijoEnfOtra").prop("disabled", true);
                    $("#HijoEnfTiempoD").prop("disabled", true);
                    $("#HijoTrat").prop("disabled", true);
                    $("#TioEnfMen").prop("disabled", true);
                    $("#TioEnfDep").prop("disabled", true);
                    $("#TioEnfAns").prop("disabled", true);
                    $("#TioEnfEsq").prop("disabled", true);
                    $("#TioEnfLicDrog").prop("disabled", true);
                    $("#TioEnfOtra").prop("disabled", true);
                    $("#TioEnfTiempoD").prop("disabled", true);
                    $("#TioEnfTrat").prop("disabled", true);
                    $("#SmarthPhone").prop("disabled", true);
                    $("#Tablet").prop("disabled", true);
                    $("#ComputadorFamiliar").prop("disabled", true);
                    $("#ComputadorPropio").prop("disabled", true);
                    $("#PortatilFamiliar").prop("disabled", true);
                    $("#PortatilPropio").prop("disabled", true);
                    $("#TV").prop("disabled", true);
                    $("#Consola").prop("disabled", true);
                    $("#InternetCasa").prop("disabled", true);
                    $("#InternetMobil").prop("disabled", true);
                    $("#InternetTrabajo").prop("disabled", true);
                    $("#InternetUniversidad").prop("disabled", true);
                    $("#InternetPublico").prop("disabled", true);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    mensaje.warn("Error al almacenar el encuesta.");
                }
            });

        });
    </script>
</form>